@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply border-0;
  @apply rounded-xl;
  @apply bg-black;
  @apply text-white;
  @apply border-spacing-1;
  @apply text-2xl;
  @apply mb-3;
  @apply py-3;
  @apply px-5;
  @apply text-center;
  @apply w-400px;
}

input::placeholder {
  color: gray;
  letter-spacing: 2px;
}

input:focus {
  outline: none;
}

.domain-input{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

}

.tld {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: white;
  right: 22px;
  margin: 0;  
  padding: 0;
  margin-bottom: 13px;
}
